[tool.poetry]
name = "pymultilint"
packages = [{include = "multilint.py"}]
version = "0.4.1"
description = "Utility tying multiple code quality tools together"
authors = ["George Kontridze <george.kontridze@gmail.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/gkze/multilint"
repository = "https://github.com/gkze/multilint"
documentation = "https://gkze.github.io/multilint/multilint.html"
keywords = ["lint", "code-quality", "tools"]

[tool.poetry.dependencies]
python = "^3.8"
pydocstyle = "^6.0.0"
autoflake = "^1.4"
isort = "^5.8.0"
pylint = "^2.8.2"
toml = "^0.10.2"
black = "^21.5b0"
mypy = "^0.812"
pyupgrade = "^2.14.0"

[tool.poetry.dev-dependencies]
ipython = "^7.19.0"
jedi = "0.17.2"
parso = "0.7.1"
sphinx-rtd-theme = "^0.5.1"
pdoc = "^4.0.0"

[tool.poetry.scripts]
multilint = "multilint:main"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.multilint]
src_paths = ["*.py", "docs"]

[tool.autoflake]
recursive = true
in_place = true
ignore_init_module_imports = true
remove_all_unused_imports = true
remove_unused_variables = true
verbose = true

[tool.mypy]
src_paths = ["*.py"]

[tool.pyupgrade]
src_paths = ["*.py", "**/*.py"]
min_version = "3.9"

[tool.pylint.messages_control]
disable = ["logging-fstring-interpolation", "dangerous-default-value"]
