---
name: CI

on:
  - push
  - pull_request

jobs:
  lint:
    runs-on:
      - ubuntu-latest
      - macos-latest
      - windows-latest

    strategy:
      matrix:
        python-version:
          - "3.8"
          - "3.9"
          - "3.10"

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ~/.cache/pypoetry

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Upgrade pip
        run: pip3 install -U pip

      - name: Install Poetry
        run: pip3 install -U poetry

      - name: Install dependencies
        run: poetry install

      - name: Run multilint on itself
        run: poetry run multilint
